@model IEnumerable<WebDSM.Models.Videojuego>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-0" id="videojuegos">


@foreach (var item in Model) {

    <div class="row videojuego bg-blood mt-1 ml-0 w-100" style="background: url(../../Content/Uploads/Videogames/@item.Imagen) no-repeat center; background-size: cover;">

        <div class="col justify-content-end text-right">
            <div class="row pr-0 pr-md-5">

                <div class="videojuego-text elegant text-white shadow col px-5 pt-3 pt-md-5">
                    @item.Nombre
                </div>
            </div>
            <div class="row h3 elegant text-white text-right justify-content-end pr-0 pr-md-5">
                <div class="col px-5 pt-3">
                    <i class="text-orange fab fa-ethereum"></i>&nbsp; @item.Arts Artículos disponibles
                </div>
            </div>
            <div class="row pr-0 pr-md-5">
                <div class="col px-5 pt-3">
                    <a class="btn btn-outline-warning px-5" href="@Url.Action("Videojuego","Articulo", new { item = item.Nombre} )">
                        Ver
                    </a>
                </div>
            </div>
        </div>

    </div>

}

</div>
