@model IEnumerable<WebDSM.Models.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int UserId = 0;
    string aux = Request.RawUrl; @*/Pedido/Index/32768*@


    if (Session["login"] == null)
    {
        Response.Redirect("~/Registrado/Login");
    }
    //else if (aux != "/Pedido/Index/" + (int)Session["idUsuario"] && (bool)Session["admin"] == false)
    //{

    //    Response.Redirect("~/Home");
    //}
    else
    {
        UserId = (int)Session["idUsuario"];
    }


}


<div class="container pt-5" id="pedidos">
    <h2 class="elegant">Lista de pedidos</h2>
    <div class="row elegant h5 pt-2 d-none d-md-flex">
        <div class="col"><i class="far fa-calendar-alt"></i> <span class="d-none d-md-inline"> Fecha del pedido</span></div>
        <div class="col"><i class="fas fa-list-ol"></i> <span class="d-none d-md-inline"> Nº Artículos</span></div>
        <div class="col"><i class="fas fa-gem"></i> <span class="d-none d-md-inline"> Precio final</span></div>
        <div class="col-2"></div>
    </div>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <div class="row mt-1">
            <div class="col-12 col-md">
                <div class="bg-black p-3 elegant">
                    <span class="d-md-none"><i class="far fa-calendar-alt"></i> Fecha: </span>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="bg-black p-3 elegant">
                    <span class="d-md-none"><i class="fas fa-list-ol"></i> Nº Artículos:</span>
                    @Html.DisplayFor(modelItem => item.Articulos)
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="bg-black p-3 elegant">
                    <span class="d-md-none"><i class="far fa-gem"></i> Precio final: </span>
                    @Html.DisplayFor(modelItem => item.Total) €
                </div>
            </div>
            <div class="col-12 col-md-2">
                    <a href="@Url.Action("Details", "Pedido", new { id = item.Id })">
                        <div class="bg-black py-1 profile-button">
                            <div class=" text-center">
                                <i class="fas fa-info"></i>
                            </div>
                            <div class="text-center">
                                Detalles
                            </div>
                        </div>
                    </a>
            </div>
        </div> 
        }
    }
</div>