@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide mx-auto " data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item carousel-size active">
            <div class="image-wrapper" style="background-image: url(../../Images/Indexv2.jpg);"></div>
            <div class="caption ">
                <h5 class="text-orange h2 elegant">Espada molona</h5>
                <p class="elegant d-none d-md-block">
                    No se me ocurre ninguna descripción molona para esta espada, pero debería  ocupa por lo menos unas tres líneas para que no quedara tan vacío. 
                </p>
                <a href="#">
                    <div class="btn btn-outline-light py-2 px-5">
                        VER
                    </div>
                </a>
            </div>
        </div>
        <div class="carousel-item carousel-size">
            <div class="d-block image-wrapper" style="background-image: url(../../Images/Indexv2.jpg);"></div>
            <div class="caption ">
                <h5 class="text-orange h2 elegant">Espada molona 2</h5>
                <p class="elegant d-none d-md-block">
                    No se me ocurre ninguna descripción molona para esta espada, pero debería  ocupa por lo menos unas tres líneas para que no quedara tan vacío.
                </p>
                <a href="#">
                    <div class="btn btn-outline-light py-2 px-5">
                        VER
                    </div>
                </a>
            </div>
        </div>
        <div class="carousel-item carousel-size">
            <div class="d-block image-wrapper" style="background-image: url(../../Images/Indexv2.jpg);"></div>
            <div class="caption ">
                <h5 class="text-orange h2 elegant">Espada molona 3</h5>
                <p class="elegant d-none d-md-block">
                    No se me ocurre ninguna descripción molona para esta espada, pero debería  ocupa por lo menos unas tres líneas para que no quedara tan vacío.
                </p>
                <a href="#">
                    <div class="btn btn-outline-light py-2 px-5">
                        VER
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div class="container-fluid fry">
    <div class="row">
        <img class="isfry" src="~/Images/Shut-up-and-take-my-money!.png" alt="Shut up and take my money!" /> 
        <div class="col-12 col-md-6 offset-md-6">
            <div class="h2 elegant pt-1 pt-md-5 mt-5">Has visto las últimas pujas abiertas?</div>
            <div class="h5 elegant pt-1 ">Todo tipo de productos se ofertan cada día, desde espadas de tu MMORPG favorito hasta rifles de los shooters más populares.</div>
            <a href="@Url.Action("../Puja")">
                <div class="btn btn-outline-dark py-2 my-4">
                    ECHA UN VISTAZO
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-absolute-black justify-content-center display-4 py-3">
        NOVEDADES!
    </div>
    <div class="row pt-sm-5">
        <section class="col-xs-12 offset-lg-1 col-lg-5 grid">

                    <figure class="effect-oscar float-right">

                        <img src="~/Images/maxresdefault.jpg" alt="" />

                        <figcaption>
                            <h2>Son las <span>3:54 AM</span></h2>
                            <p>Sigo sin saber como guardar las imagenes</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

                    <figure class="effect-oscar float-right">
                        <img src="~/Images/Nier.jpg" alt=""  />
                        <figcaption>
                            <h2>Mama se llevó <span>las pilas</span></h2>
                            <p>Que caraduraaaa</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

        </section>
        <section class="col-xs-12 col-lg-5 grid">

                    <figure class="effect-oscar float-left">
                        <img src="~/Images/Shut-up-and-take-my-money!.png" alt=""  />
                        <figcaption>
                            <h2>Studio Thonik <span>Exhibition</span></h2>
                            <p>Project for Thonik, design studio based in Amsterdam</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

                    <figure class="effect-oscar float-left">

                        <img src="~/Images/maxresdefault.jpg" alt=""  />

                        <figcaption>
                            <h2>Son las <span>3:54 AM</span></h2>
                            <p>Sigo sin saber como guardar las imagenes</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

        </section>
    </div>
</div>

