@model WebDSM.Models.Articulo

@{
    ViewBag.Title = "AnyadirAlCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AnyadirAlCarrito</h2>

@*ESTA VISTA ESTA DE ADORNO*@
@*NO BORRARLA, QUE SINO PETA*@

