@model WebDSM.Models.ArticuloYOpinion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArticuloYOpinion</h4>
    <hr />
    <dl class="dl-horizontal">
        @Model.Articulo.Nombre;
       
    </dl>
@foreach (var item in Model.Valoracion)
{
    <p>@item.Texto</p>
}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
