@model IEnumerable<WebDSM.Models.Videojuego>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar por Videojuego</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>Cantidad de artículos</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <form action="../Articulo/Videojuego" method="post">
                <input style="display: none;" name="termino" value="@item.Nombre">
                <button type="submit">@item.Nombre</button>
            </form>
        </td>

        <td>
            @item.Arts
        </td>
    </tr>
}

</table>
