@model IEnumerable<WebDSM.Models.Videojuego>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar por Videojuego</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>Cantidad de artículos</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div>
                <a href="@Url.Action("Videojuego","Articulo", new { item = item.Nombre} )">@item.Nombre</a>
            </div>
        </td>

        <td>
            <div>
                @item.Arts
            </div>
        </td>
    </tr>
}

</table>
