html, body {

    width: 100%;
    background: #f4f4f4;
    overflow: visible;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

.bg-absolute-black {
    background: #000;
    color: #f4f4f4;
}

.bg-black {
    background: #242424;
    color: #f4f4f4;
}

.border-orange {
    border-bottom: 2px #ff4700 solid;
}

.bg-white {
	background: #f4f4f4;
    color: #242424;
}

.bg-footer{
    background: #11100f;
}
.text-orange{
    color: #e3c155;
}

.text-black {
	color: #242424;
}

.text-white {
	color: #f4f4f4;
}

.text-blood {
    color: #e10031;
}

.text-secondary{
    color: #8c8c8b;
}

.nav-link.active {
    color: #e3c155
}

.nav-link {
    padding: 8px 0;
    color: rgba(244, 244, 244, 0.7);
}

.nav-link:hover{
    color: rgba(244, 244, 244, 1);
}
a:hover {
    color: rgba(244, 244, 244, 1);
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 100%;
    background: url(../Images/NA-ME.png) no-repeat center;
    background-size: auto 110%;
    padding: 0;
}

.logo_dark {
    width: 100%;
    height: 100%;
    background: url(../Images/NA-ME_dark.png) no-repeat center;
    background-size: auto 110%;
    padding: 0;
}

.user {
    width: 100%;
    height: 41px;
    background: url(../Images/User.png) no-repeat center;
    background-size: auto 100%;
    padding: 0;
}

.pass {
    width: 100%;
    height: 41px;
    background: url(../Images/Password.png) no-repeat center;
    background-size: auto 100%;
    padding: 0;
}

.facebook {
    width: 41px;
    height: 41px;
    background: url(../Images/Facebook.png) no-repeat center;
    background-size: auto 100%;
}
.twitter {
    width: 41px;
    height: 41px;
    background: url(../Images/Twitter.png) no-repeat center;
    background-size: auto 100%;
}
.google {
    width: 41px;
    height: 41px;
    background: url(../Images/Google.png) no-repeat center;
    background-size: auto 100%;
}

.separator {
    background: url(../Images/Login-separator.png) center no-repeat;
    background-size: auto 100%;
}

.item-background {
    min-height: 700px;
    height:auto;
    width: 100%;
    background: url(../Images/Black_background_v2.png) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: local;
}

@media (max-height:815px){
    .item-background {
        height: auto;
        min-height: 700px;
        width: 100%;
        background: url(../Images/Black_background_v2.png) no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.footer_logo{
    height: 100px;
    width:auto;
}
.small{
    font-size: 12px;
    line-height: 15px;
}
.pointer{
    cursor: pointer;
}

.header_login{
    height: 90px;
}
.social{
    width:42px;
    height:auto;
}
.social-mini {
    width: 20px;
    height: auto;
}

.height-300px{
    min-height:300px;
}

.elegant {
    font-weight: 300;
}

.carousel-size{

}

.fry {
    /*
    min-height: 500px;
    width: 100%;
    background: url(../Images/Shut-up-and-take-my-money!.png) no-repeat;
    background-position: left bottom;
    background-size: 45%;
    background-attachment: local;
        */
    min-height: 500px;
    width: 100%;
    position:relative;
}

.fry img{
    width:50%;
    max-width: 750px;
    min-width: 250px;
    position:absolute;
    bottom:0;
    left:0;
}

.menu{
    font-size:20px;
}

.carousel{
    max-height:300px;
    background: #121212;

}
.carousel img{}

.image-wrapper {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.caption{
    position: absolute;
    left: 50%;
    right: 10%;
    top: 10px;
    z-index: 10;
    padding-top: 20px; 
    color: #fff;
}


.grid {
    position: relative;
    list-style: none;
    overflow: hidden;
    text-align: center;
}



    /* Common style */

    .grid figure {
        position: relative;
        margin-bottom: 31px;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        min-height: 100%;
        background: #242424;
        text-align: center;
        cursor: pointer;
    }



        .grid figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }



        .grid figure figcaption {
            padding: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            line-height: 100%;
        }

            .grid figure figcaption header a {
            }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }



            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }



                /* Anchor will cover the whole item by default */

                /* For some effects it will show as a button */

                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }



        .grid figure h2 {
            word-spacing: -0.15em;
            font-weight: 400;
            color: #FFF;
        }



            .grid figure h2 span {
                font-weight: 800;
            }



        .grid figure h2,
        .grid figure p {
            margin: 0;
        }



        .grid figure p {
            letter-spacing: 1px;
            font-size: 16px;
            line-height: 22px;
        }





/* Individual effects */




/*---------------*/

/***** Oscar *****/

/*---------------*/




    figure.effect-oscar img {
        opacity: 1;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }



    figure.effect-oscar figcaption {
        padding: 4em;
        background-color: rgba(58,52,42,0);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
    }



        figure.effect-oscar figcaption::before {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            border: 1px solid #fff;
            content: '';
        }



    figure.effect-oscar h2 {
        font-weight: 400;
        margin: 20% 0 10px 0;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

        figure.effect-oscar h2 span {
            font-weight: 800
        }

    figure.effect-oscar figcaption::before,
    figure.effect-oscar p {
        font-weight: 400;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0);
        transform: scale(0);
    }



    figure.effect-oscar:hover h2 {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }



    figure.effect-oscar:hover figcaption::before,
    figure.effect-oscar:hover p {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }



    figure.effect-oscar:hover figcaption {
        background-color: rgba(58,52,42,0);
    }



    figure.effect-oscar:hover img {
        opacity: 0.4;
    }



@media screen and (max-width: 50em) {

    .content {
        padding: 0 10px;
        text-align: center;
    }

    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    figure.effect-oscar figcaption::before {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
    }

    figure.effect-oscar figcaption {
        padding: 0em
    }

    figure.effect-oscar h2 {
        font-size: 20px;
    }

    figure.effect-oscar p {
        font-size: 13px;
        padding: 2%;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}



@media (max-width: 767px) {

    figure.effect-oscar figcaption::before {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
    }

    figure.effect-oscar figcaption {
        padding: 0em
    }

    figure.effect-oscar h2 {
        font-size: 15px;
    }

    figure.effect-oscar p {
        font-size: 13px;
        padding: 2%;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

.grid-lod {
    /*max-width: 69em;

	list-style: none;

	margin: 30px auto;

	padding: 0;*/
}



    .grid-lod li {
        display: block;
        /*	float: left;

	padding: 7px;

	width: 33%;*/
        opacity: 0;
    }



        .grid-lod li.shown,
        .no-js .grid-lod li,
        .no-cssanimations .grid-lod li {
            opacity: 1;
        }



        .grid-lod li a,
        .grid-lod li img {
            outline: none;
            border: none;
            display: block;
            max-width: 100%;
        }



    /* Effect 1: opacity */

    .grid-lod.effect-1 li.animate {
        -webkit-animation: fadeIn 0.65s ease forwards;
        animation: fadeIn 0.65s ease forwards;
    }



@-webkit-keyframes fadeIn {

    0% {
    }

    100% {
        opacity: 1;
    }
}



@keyframes fadeIn {

    0% {
    }

    100% {
        opacity: 1;
    }
}



/* Effect 2: Move Up */

.grid-lod.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}



@-webkit-keyframes moveUp {

    0% {
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}



@keyframes moveUp {

    0% {
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}



/* Effect 3: Scale up */

.grid-lod.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}



@-webkit-keyframes scaleUp {

    0% {
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}



@keyframes scaleUp {

    0% {
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}



/* Effect 4: fall perspective */

.grid-lod.effect-4 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-4 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
        transform: translateZ(400px) translateY(300px) rotateX(-90deg);
        -webkit-animation: fallPerspective .8s ease-in-out forwards;
        animation: fallPerspective .8s ease-in-out forwards;
    }



@-webkit-keyframes fallPerspective {

    0% {
    }

    100% {
        -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1;
    }
}



@keyframes fallPerspective {

    0% {
    }

    100% {
        -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
        transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1;
    }
}



/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid-lod.effect-5 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-5 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50% -300px;
        transform-origin: 50% 50% -300px;
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        -webkit-animation: fly .8s ease-in-out forwards;
        animation: fly .8s ease-in-out forwards;
    }



@-webkit-keyframes fly {

    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}



@keyframes fly {

    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}



/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid-lod.effect-6 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-6 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: rotateX(-80deg);
        transform: rotateX(-80deg);
        -webkit-animation: flip .8s ease-in-out forwards;
        animation: flip .8s ease-in-out forwards;
    }



@-webkit-keyframes flip {

    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}



@keyframes flip {

    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}



/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid-lod.effect-7 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-7 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-animation: helix .8s ease-in-out forwards;
        animation: helix .8s ease-in-out forwards;
    }



@-webkit-keyframes helix {

    0% {
    }

    100% {
        -webkit-transform: rotateY(0deg);
        opacity: 1;
    }
}



@keyframes helix {

    0% {
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}



/* Effect 8:  */

.grid-lod.effect-8 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-8 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        -webkit-animation: popUp .8s ease-in forwards;
        animation: popUp .8s ease-in forwards;
    }



@-webkit-keyframes popUp {

    0% {
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .8;
        -webkit-animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}



@keyframes popUp {

    0% {
    }

    70% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .8;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}



@media screen and (max-width: 900px) {

    .grid-lod li {
        width: 50%;
    }
}



@media screen and (max-width: 400px) {

    .grid-lod li {
        width: 100%;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}