.grid {
    position: relative;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

    .grid figure {
        position: relative;
        margin-bottom: 31px;
        overflow: hidden;
        background: #242424;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        max-width: 100%;
    }

        .grid figure img {
            position: relative;
            display: block;
            max-height: 900px;
            max-width: 100%;
            opacity: 0.8;
        }



        .grid figure figcaption {
            padding: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            line-height: 100%;
        }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }



            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }



                /* Anchor will cover the whole item by default */

                /* For some effects it will show as a button */

                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }



        .grid figure h2 {
            word-spacing: -0.15em;
            font-weight: 400;
            color: #FFF;
        }

            .grid figure h2 span {
                font-weight: 800;
            }

        .grid figure h2,
        .grid figure p {
            margin: 0;
        }

        .grid figure p {
            letter-spacing: 1px;
            font-size: 16px;
            line-height: 22px;
        }


/* Individual effects */

figure.effect-oscar img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 15%;
    padding-top: 20%;
    background-color: rgba(58,52,42,0);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

    figure.effect-oscar figcaption::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        border: 1px solid #fff;
        content: '';
    }

figure.effect-oscar h2 {
    font-weight: 400;
    margin: 10% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

    figure.effect-oscar h2 span {
        font-weight: 800
    }

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    font-weight: 400;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

@media screen and (max-width: 50em) {

    .content {
        padding: 0 10px;
        text-align: center;
    }

    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    figure.effect-oscar figcaption::before {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
    }

    figure.effect-oscar figcaption {
        padding: 0em
    }

    figure.effect-oscar h2 {
        font-size: 20px;
    }

    figure.effect-oscar p {
        font-size: 13px;
        padding: 2%;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 1400px) {
    figure.effect-oscar h2 {
        font-size: 18px;
    }

    figure.effect-oscar p {
        font-size: 13px;
    }
}


@media (max-width: 767px) {

    figure.effect-oscar figcaption::before {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
    }

    figure.effect-oscar figcaption {
        padding: 0em
    }

    figure.effect-oscar h2 {
        font-size: 15px;
    }

    figure.effect-oscar p {
        font-size: 13px;
        padding: 2%;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

.grid-lod li {
    display: block;
    opacity: 0;
}

    .grid-lod li.shown,
    .no-js .grid-lod li,
    .no-cssanimations .grid-lod li {
        opacity: 1;
    }

    .grid-lod li a,
    .grid-lod li img {
        outline: none;
        border: none;
        display: block;
        max-width: 100%;
    }

/* Effect 1: opacity */


.grid-lod.effect-1 li.animate {
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
    0% {
    }

    100% {
        opacity: 1;
    }
}



@keyframes fadeIn {
    0% {
    }

    100% {
        opacity: 1;
    }
}



/* Effect 2: Move Up */

.grid-lod.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}



@-webkit-keyframes moveUp {
    0% {
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}



@keyframes moveUp {
    0% {
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}



/* Effect 3: Scale up */

.grid-lod.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% {
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleUp {

    0% {
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}



/* Effect 4: fall perspective */

.grid-lod.effect-4 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-4 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
        transform: translateZ(400px) translateY(300px) rotateX(-90deg);
        -webkit-animation: fallPerspective .8s ease-in-out forwards;
        animation: fallPerspective .8s ease-in-out forwards;
    }



@-webkit-keyframes fallPerspective {
    0% {
    }

    100% {
        -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1;
    }
}



@keyframes fallPerspective {
    0% {
    }

    100% {
        -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
        transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1;
    }
}



/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid-lod.effect-5 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-5 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50% -300px;
        transform-origin: 50% 50% -300px;
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        -webkit-animation: fly .8s ease-in-out forwards;
        animation: fly .8s ease-in-out forwards;
    }


@-webkit-keyframes fly {

    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}



@keyframes fly {
    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}



/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid-lod.effect-6 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

    .grid-lod.effect-6 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: rotateX(-80deg);
        transform: rotateX(-80deg);
        -webkit-animation: flip .8s ease-in-out forwards;
        animation: flip .8s ease-in-out forwards;
    }

@-webkit-keyframes flip {
    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}



@keyframes flip {
    0% {
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.grid-lod.effect-7 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

    .grid-lod.effect-7 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-animation: helix .8s ease-in-out forwards;
        animation: helix .8s ease-in-out forwards;
    }


@-webkit-keyframes helix {
    0% {
    }

    100% {
        -webkit-transform: rotateY(0deg);
        opacity: 1;
    }
}



@keyframes helix {
    0% {
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}

/* Effect 8:  */

.grid-lod.effect-8 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}



    .grid-lod.effect-8 li.animate {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        -webkit-animation: popUp .8s ease-in forwards;
        animation: popUp .8s ease-in forwards;
    }



@-webkit-keyframes popUp {
    0% {
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .8;
        -webkit-animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}



@keyframes popUp {
    0% {
    }

    70% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .8;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}



@media screen and (max-width: 900px) {
    .grid-lod li {
        width: 50%;
    }
}



@media screen and (max-width: 400px) {
    .grid-lod li {
        width: 100%;
    }
}

figcaption, figure, section {
    display: block;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}


img {
    border: 0;
}

figure {
    margin: 0;
}



/* sm */

@media (min-width: 768px) and (max-width: 991px) {


    .grid-lod li {
        width: 100% !important;
        position: static !important;
        display: inline-block
    }

        .grid-lod li img {
            width: 100%
        }
}

/* xs */

@media (max-width: 767px) {
    .grid-lod li {
        width: 100% !important;
        position: static !important
    }
}

.animate {
    max-width: 100%;
}
.shown {
    max-width: 100%;
}